<doctype>
<html>
<head>
<!--CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/jquery.pagepiling.css">

  <!--Font-->
  <link href="https://fonts.googleapis.com/css?family=Fanwood+Text|Quattrocento" rel="stylesheet">

<!--Angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="../js/config.js"></script>
<!--JS-->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> <!--jQuery-->

  <script src="../js/jquery.pagepiling.min.js"></script> <!--Page Piling-->
</head>

<body ng-app="myDay">

<div ng-view>

</div>




<!--Modules-->
<script src="../js/app.js"></script>

<!--Controller-->
<script src="../controllers/MainController.js"></script>

<!--Services-->
<script src="../services/forecast.js"></script>
<script src="../services/news.js"></script>

<!--Views-->

</body>
</html>
